---
import { countryCodeToName } from "@/utils";
import SectionContainer from "@/components/SectionContainer.astro";
import TemperatureIcon from "@/icons/TemperatureIcon.astro";
import VisionIcon from "@/icons/VisionIcon.astro";
import CloudQuestionIcon from "@/icons/CloudQuestionIcon.astro";

import WeatherIcon from "./WeatherIcon.astro";
import PanelBox from "./PanelBox.astro";

type Props = {
  weatherData: Record<string, any>;
};

const { weatherData } = Astro.props;

// refer to: https://openweathermap.org/current#example_JSON
const name = weatherData.name;
const country = countryCodeToName(weatherData.sys.country);
const weather = weatherData.weather[0];
const main = weatherData.main;
const coords = weatherData.coord;
const visibility = weatherData.visibility;
const cloudiness = weatherData.clouds.all;
---

<SectionContainer>
  <div class="my-4">
    <h1 class="text-2xl sm:text-4xl md:text-5xl font-bold sm:mb-2">{name}</h1>
    <p class="opacity-80 md:text-lg">{country}</p>
    <p class="flex gap-2 text-sm opacity-50 font-bold">
      <span>lat: {coords.lat}</span>
      <span>lon: {coords.lon}</span>
    </p>
  </div>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
    <PanelBox
      class="sm:col-start-1 sm:col-end-5 md:col-end-3"
      innerClass="flex-col items-center justify-center gap-2 p-4 pb-2"
    >
      <div class="w-12">
        <WeatherIcon code={weather.icon} />
      </div>
      <span class="text-xl font-bold">{main.temp}°</span>
      <span>{weather.description}</span>
      <div class="w-full mt-4 gap-2 flex-wrap flex justify-between">
        <span class="text-surface-600 dark:text-surface-500 text-sm"
          >Humidity: {main.humidity}%</span
        >
        <span class="text-surface-600 dark:text-surface-500 text-sm"
          >Pressure: {main.pressure} hPa</span
        >
      </div>
    </PanelBox>
    <PanelBox
      class="sm:row-start-2 sm:col-start-1 sm:col-end-7 md:row-start-1 md:col-start-3"
      innerClass=""
    >
      slide
    </PanelBox>
    <PanelBox class="sm:col-span-2" innerClass="p-4 flex-col items-center">
      <div class="w-7 mr-auto mb-4">
        <TemperatureIcon />
      </div>
      <span class="mt-auto text-3xl font-bold mb-auto">{main.temp}°</span>
      <span class="text-md font-bold mt-2">human perception</span>
      <p class="text-center text-sm">what people say the temp feels like.</p>
    </PanelBox>
    <PanelBox
      class="sm:col-span-3 md:col-span-2"
      innerClass="p-4 flex-col items-center"
    >
      <div class="w-7 mr-auto mb-4">
        <VisionIcon />
      </div>
      <span class="mt-auto text-3xl font-bold mb-auto"
        >{Math.round(visibility / 1000)}km</span
      >
      <span class="text-md font-bold mt-2">visibility</span>
      <p class="text-center text-sm">how far people could see.</p>
    </PanelBox>
    <PanelBox
      class="sm:col-span-3 md:col-span-2"
      innerClass="p-4 flex-col items-center"
    >
      <div class="w-7 mr-auto mb-4">
        <CloudQuestionIcon />
      </div>
      <span class="mt-auto text-3xl font-bold mb-auto">{cloudiness}%</span>
      <span class="text-md font-bold mt-2">cloudiness</span>
      <p class="text-center text-sm">the cloudiness level, idk.</p>
    </PanelBox>
  </div>
</SectionContainer>
