---
import { processWeatherData } from "@/app/weather";
import type { WeatherData } from "@/app/types";

import SectionContainer from "@/components/SectionContainer.astro";
import TemperatureIcon from "@/icons/Temperature.astro";
import VisionIcon from "@/icons/VisionOpen.astro";
import CloudQuestionIcon from "@/icons/CloudDown.astro";
import WeatherIcon from "./WeatherIcon.astro";

import WeatherPanelHeader from "./WeatherPanelHeader.astro";
import PanelBox from "./PanelBox.astro";
import ForecastList from "./ForecastList.astro";
import SingularBox from "./WeatherSingleBox.astro";

type Props = {
  weatherData: WeatherData;
  forecastData: { list: WeatherData[] };
};

const { weatherData, forecastData } = Astro.props;
const processedWeatherData = processWeatherData(weatherData);
const { cloudiness, main, visibility, weather } = processedWeatherData;
---

<SectionContainer>
  <WeatherPanelHeader data={processedWeatherData} />

  <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
    <PanelBox
      class="sm:col-start-1 sm:col-end-5 md:col-end-3"
      innerClass="flex-col items-center justify-center gap-2 p-4 pb-2"
    >
      <div class="w-12">
        <WeatherIcon code={weather.icon} />
      </div>
      <span class="text-xl font-bold">{main.temp}°</span>
      <span>{weather.description}</span>
      <div class="w-full mt-4 gap-2 flex-wrap flex justify-between">
        <span class="text-surface-600 dark:text-surface-500 text-sm"
          >Humidity: {main.humidity}%</span
        >
        <span class="text-surface-600 dark:text-surface-500 text-sm"
          >Pressure: {main.pressure} hPa</span
        >
      </div>
    </PanelBox>

    <PanelBox
      class="sm:row-start-2 sm:col-start-1 sm:col-end-7 md:row-start-1 md:col-start-3"
      innerClass="flex"
    >
      {forecastData && <ForecastList list={forecastData.list} />}
    </PanelBox>

    <SingularBox>
      <TemperatureIcon slot="icon" />
      <Fragment slot="value">{main.temp}°</Fragment>
      <Fragment slot="title">human perception</Fragment>
      <Fragment slot="description">
        what people say the temp feels like.
      </Fragment>
    </SingularBox>

    <SingularBox>
      <VisionIcon slot="icon" />
      <Fragment slot="value">{visibility}</Fragment>
      <Fragment slot="title">visibility</Fragment>
      <Fragment slot="description">how far people could see.</Fragment>
    </SingularBox>

    <SingularBox>
      <CloudQuestionIcon slot="icon" />
      <Fragment slot="value">{cloudiness}%</Fragment>
      <Fragment slot="title">cloudiness</Fragment>
      <Fragment slot="description">the cloudiness level, idk.</Fragment>
    </SingularBox>
  </div>
</SectionContainer>
